:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  --box-shadow-2: 0px 2px 30px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title--upcoming,
.title--past {
  flex-basis: 90%;
  padding: 7px 0;
  /* design */
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  background-color: var(--planet-orange);
  border-radius: 5px;
  font-size: 25px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
}

#upcoming {
  flex-basis: 90%;
  height: 280px;
  overflow-y: auto;
  padding: 10px;
  padding-top: 50px;
  position: relative;
  /* design */
  overflow-y: auto;
  border-radius: 5px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
  background-color: rgba(63,50,101, .4);
}

#past {
  flex-basis: 90%;
  padding: 10px;
  height: 280px;
  /* design */
  overflow-y: auto;
  border-radius: 5px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
  background-color: rgba(63,50,101, .4);
}

.event {
  /* layout */
  width: 99%;
  padding: 15px;
  margin: 5px;
  /* position children */
  display: flex;
  align-items: center;
  /* design */
  background-color: var(--theme-sub-primary);
  border: 3px solid var(--planet-purple-space);
  border-radius: 5px;
}

/* div with Create New Event Button */
#newEventBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  display: flex;
}

.newEventForm {
  background: var(--planet-orange);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2%;
  align-items: center;
  border-radius: 5px;
}

.newEventForm > input {
  width: 40%;
}

.newEventForm > input[type="date"] {
  text-align: center;
}

.newEventForm > input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.newEventForm > input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.newEventForm > div {
  display: flex;
  /* flex-basis: 40%; */
  justify-content: space-evenly;
}

.newEventForm > button {
  width: 7%;
}

.newEventForm > div {
  width: 40%;
}

.nextEvent {
  font-size: 1.25em;
  font-weight: 600;
}

.event > button {
  height: 35px;
  margin: 10px;
  text-align: right;
}

.event > div {
  width: 90%;
}

.new--event {
  display: flex;
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
}

.new--event > button  {
  margin-left: 15px;
  margin-top: 10px;
}

.alert {
  color: red;
}

.friendEvent {
  font-style: italic;
  color: var(--planet-light-purple);
}