:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
}
.title--upcoming, .title--past {
  flex-basis: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#upcoming {
  flex-basis: 75%;
  height: 250px;
  border: 1px solid black;
  overflow-y: auto;


  /* padding to keep new task from hiding first section */
  /* padding-top: 75px;
  position: relative; */
}

#past {
  flex-basis: 75%;
  height: 250px;
  border: 1px solid black;
  overflow-y: auto;
}

.event > h3 {
  font-weight: 700;
}

.event {
  width: 100%;
  padding: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#newEventBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  display: flex;

}

.newEventForm {
  background-color: var(--theme-sub-dark);
  flex-basis: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}