:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
}

.container--sub {
  /* layout */
  width: 100%;
  max-width: 225px;
  height: 225px;
  margin: 20px 20px;
  padding: 7px;
  /* position children */
  display: flex;
  justify-content: center;
  align-items: center;
  /* design */
  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  border-radius: 50%;
}

.container--sub:nth-child(3) {
  /* layout */
}

/* cover background of container--sub to create border effect */
.container--sub2 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--theme-sub-primary);
  text-align: center;
}