:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn {
  /* layout */
  padding: 7.5px;
  /* material design */
  cursor: pointer;
  background-color: var(--planet-dark-purple);
  color: var(--theme-text-light);
  border: none;
  border-radius: 5px;
  /* animation */
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: var(--planet-light-purple);
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
}

input:focus, .btn:focus {
  outline-color: var(--planet-orange);
}

input {
  font-family: var(--font-family-plain);
}