:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

/* landing page login register */
.welcome {
  background-color: var(--planet-dark-green);
  flex-basis: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Log_In{
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.WelcomeNav{
  display: inline-flex;
}

.WelcomeNav > h2{
  margin: 10px;
}

#login {
  background-color: var(--planet-dark-green);
  flex-basis: 30%;
  height: 40%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.WelcomeNav > h2:hover{
  cursor: pointer;
  color: var(--theme-main-primary);
  font-weight: bold;
}
.Log_In > label {
  display: flex;
  height: 4%;
  margin-bottom: 4%;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.Log_In > label > input {
  text-align: center;
}
#radioLabel {
  margin-bottom: 0px;
}
#profilePicSection {
  align-items: center;
  display: flex;
  flex-direction: row;
}
#profilePicSection > section {
  margin-left: .5vw;
  margin-right: .5vw;
}
.radio {
  display: flex;
  margin: auto;
}
.selectPic {
  width: 4vw;
  height: 4vw;
  margin-top: .5vw;
}