:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

/* landing page login register */
.welcome {
  background-color: var(--planet-purple-space);
  flex-basis: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--theme-sub-primary);
  font-family: var(--font-family-form);
  border: 5px solid var(--planet-dark-green);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow-y: auto;
}

.WelcomeNav {
  background-color: var(--planet-light-purple);
  border: 1px solid var(--planet-dark-green);
  border-radius: 5px;
}

.LogIn > input {
  padding: 7.5px;
  border: 1px solid var(--planet-bright-green);
}

.LogIn{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.WelcomeNav{
  display: flex;
  flex-direction: row;
}

.WelcomeNav > h2{
  margin: 10px;
}

.WelcomeNav > h2:hover{
  cursor: pointer;
  color: var(--planet-bright-green);
  font-weight: bold;
}

.LogIn > input {
  margin: 10px;
}