:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

/* landing page login register */
.welcome {
  /* layout */
  flex-basis: 30%;
  height: 40%;
  padding: 7.5px;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* design */
  background-color: var(--theme-sub-primary);
  border: 7.5px solid var(--planet-dark-green);
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), -4px -4px 16px 0 rgba(0,0,0,0.2);
}

.welcome > h1 {
  text-align: center;
  color: var(--planet-dark-purple);
  font-family: var(--font-family-form);
}

.welcome > .btn {
  flex-basis: 40%;
  height: 40px;
  font-size: 1.1em;
}
