@import "nav.css";
@import "home.css";
@import "form.css";
@import "interactive.css";
@import "messages.css";
@import "tasks.css";


:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #3B3466;
  --planet-purple-space: #3F3363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  /* background-color: var(--theme-sub-dark); */
  /* background: url(../images/minimalist-planets.jpg) no-repeat center center fixed; */
  background-image: url(../images/Art-Planet-Minimalism-Backgrounds-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-origin: center center; */
  background-attachment: fixed;
}

#master {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container--outer {
  /* layout */
  max-width: 960px;
  height: calc(100vh - 90px); /* viewport height minus abort and nav height */
  margin: 0 auto;
  /* position children */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* design */
}

.container--inner {
  /* layout */
  flex-basis: 95%;
  height: 95%;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* design */
  overflow-y: auto;
  position: relative;
  overflow-x: none;
}

/* overlay */
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--theme-sub-dark);
  opacity: 0.8;
}

/* landing page login register */
.welcome {
  background-color: var(--theme-sub-dark);
  flex-basis: 25%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
