@import "interactive.css";
@import "login.css";
@import "nav.css";
@import "home.css";
@import "form.css";
@import "interactive.css";
@import "messages.css";
@import "tasks.css";
@import "news.css";
@import "events.css";
@import "register.css";

:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  --box-shadow-2: 0px 2px 30px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  /* background-color: var(--theme-sub-dark); */
  /* background: url(../images/minimalist-planets.jpg) no-repeat center center fixed; */
  background-image: url(../images/Art-Planet-Minimalism-Backgrounds-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container--outer {
  /* layout */
  max-width: 960px;
  height: calc(100vh - 90px); /* viewport height minus abort and nav height */
  margin: 0 auto;
  /* position children */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* design */
}

.container--inner {
  /* layout */
  flex-basis: 95%;
  height: 95%;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* design */
  overflow-y: auto;
  overflow-x: none;
  /* background-color: var(--theme-sub-primary); */
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(254,86,113,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(254,86,113,0.4);
}
