:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#messageName {
  /* layout */
  width: 90%;
  position: absolute;
  top: 15px;
  padding: 7px 0;
  /* design */
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  background-color: var(--planet-orange);
  border-radius: 5px;
  font-size: 25px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-1);
}

/* container that holds posted messages */
.old--messages {
  /* layout */
  width: 90%;
  height: 63%;
  position: absolute;
  top: 68px;
  padding: 5px 10px 10px 10px;
  /* style */
  overflow-y: auto;
  box-shadow: var(--box-shadow-1);
  border-radius: 5px;
}

/* individual message containers */
.message {
  /* layout */
  width: 100%;
  margin: 5px;
  padding: 15px;
  /* position children */
  position: relative;
  /* design */
  background-color: var(--theme-sub-primary);
  border: 3px solid var(--planet-purple-space);
  border-radius: 5px;
}

.messagePic {
  display: inline-block;
  border-radius: 8px;
  margin: 0 8px 15px 0;
  height: 35px;
  width: 35px;
}

/* message username and timestamp */
.messageAuthor {
  /* layout */
  display: inline-block;
  position: relative;
  bottom: 30px;
  /* design */
  font-size: 14px;
  font-family: var(--font-family-exo);
  font-weight: bold;
}

/* message content */
.message > h1 {
  font-size: 16px;
  font-family: var(--font-family-text);
  font-weight: normal;
}

/* edit button */
.message > .btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* container to create new message */
.new--message {
  /* layout */
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 17.5%;
  padding-top: 5px;
  /* design */
  border-radius: 5px;
  /* background-color: var(--planet-orange); */
  box-shadow: var(--box-shadow-1);
}

.new--message > h1 {
  /* layout */
  height: 40px;
  padding: 4px 0;
  /* design */
  background-color: var(--planet-orange);
  font-family: var(--font-family-exo);
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  font-size: 25px;
  text-align: center;
  font-family: var(--font-family-exo);
  border-radius: 5px;
}

.new--message > textarea {
  /* layout */
  width: 87%;
  height: 55%;
  padding: 12.5px;
  margin: 10px;
  /* design */
  background-color: var(--theme-sub-primary);
  font-family: var(--font-family-text);
}

.new--message > .btn {
  position: absolute;
  top: 55%;
  right: 15px;
}