:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  --box-shadow-2: 0px 2px 30px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#abort {
  /* layout */
  height: 25px;
  max-width: 960px;
  margin: 0 auto;
  /* design */
  background-color: var(--planet-dark-green);
}

nav {
  /* layout */
  height: 65px;
  max-width: 960px;
  margin: 0 auto;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* design */
  font-family: var(--font-family-exo);
  font-weight: bold;
  font-size: 17px;
  background-color: var(--planet-bright-green);
  border-radius: 0 0 5px 5px;
  box-shadow: var(--box-shadow-1);
  /* -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 70%, 85% 100%, 15% 100%, 0 70%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 100% 70%, 85% 100%, 15% 100%, 0 70%, 0 0); */
}

nav > ul {
  /* layout */
  width: 100%;
  /* position children */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > ul > li, nav > ul > img {
  /* layout */
  display: inline-block;
  padding: 1px;
  /* design */
  color: var(--planet-dark-purple);
  cursor: pointer;
  border-bottom: 1px solid var(--planet-bright-green);
}

nav > ul > li:hover {
  border-bottom: 1px solid var(--planet-dark-purple);
}

.alert {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.65vw;
  height: 1.8vw;
  color: red;
}

#logIn {
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  border-bottom: none;
}

.messagePic {
  display:inline-block;
  border-radius: 5px;
  margin: 4px;
  min-height: 25px;
  min-width: 25px;
}

#subNav{
  position: fixed;
  flex-direction: column;
  padding: 6px;
  border-radius: 5px;
  top: 10.5%;
  color: var(--planet-dark-purple);
  cursor: pointer;
  z-index: 1;
  background-color: var(--planet-bright-green);
  font-family: var(--font-family-plain);
  text-align: center;
}

.subNavItem{
  cursor: pointer;
  z-index: 1;
  font-size: 16px;
  font-weight: inherit;
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: var(--planet-dark-green);
  border-radius: 5px;
  text-align: center;
}

.subNavItem:hover {
  background-color: var(--planet-bright-green);
  color: var(--planet-bright-red);
  border-radius: 3px;
}

#currentLogin {
  color: black;
  z-index: 2;
  font-weight: inherit;
  font-family: var(--font-family-plain);
  font-size: 15px;
  margin-left: 5%;
  padding-top: 5%;
}

#editForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* design */
  border-radius: 5px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
  background-color: var(--planet-dark-purple);
}
#editPagePic {
  display: flex;
  align-self: center;
  height: calc(90vh - 400px);
  border: 2px solid var(--theme-main-dark);
  border-radius: 10px;
  margin-bottom: 0px;
  width: calc(55vh - 300px);
}
#editForm > label {
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5px;
  /* design */
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin-bottom: 2%;
  position: relative;
  border-radius: 5px;
}

#editForm > label > input {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5%;
  height: 3vw;
  font-size: 15px;
  border-radius: 5px;
}

#editForm > button {
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 1%;
  padding-bottom: 3.5%;
  font-weight: bold;
  font-size: 15px;
  width: 35%;
}
#radioLabel {
  display: flex !important;
  height: 0% !important;
  margin-bottom: 8% !important;
}
#profilePicSection {
  margin: auto;
  display: flex;
  flex-direction: row;
}
#profilePicSection > section {
  margin-left: .5vw;
  margin-right: .5vw;
  padding-bottom: 4%;
  padding-top: 2%;
}
.radio {
  display: flex;
  margin: auto;
}
.selectPic {
  width: 4vw;
  height: 4vw;
  margin-top: .5vw;
}