:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

#abort {
  /* layout */
  height: 25px;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 5px;
  /* position children */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* design */
  background-color: var(--planet-dark-green);
  color: var(--planet-dark-purple);
  font-size: 14px;
}

nav {
  /* layout */
  height: 65px;
  max-width: 960px;
  margin: 0 auto;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* design */
  font-family: var(--font-family-form);
  background-color: var(--planet-bright-green);
  border-radius: 0 0 5px 5px;
  /* -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 70%, 85% 100%, 15% 100%, 0 70%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 100% 70%, 85% 100%, 15% 100%, 0 70%, 0 0); */
}

nav > ul {
  /* layout */
  width: 100%;
  /* position children */
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  /* layout */
  display: inline-block;
  padding: 1px;
  /* design */
  color: var(--planet-dark-purple);
  cursor: pointer;
  border-bottom: 1px solid var(--planet-bright-green);
}

nav > ul > li:hover {
  border-bottom: 1px solid var(--planet-dark-purple);
}