:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  --box-shadow-2: 0px 2px 30px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* news articles title */
.news--title {
  position: absolute;
  width: 50%;
  top: 6vw;
  padding: 7px 0;
  /* design */
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  background-color: var(--planet-orange);
  border-radius: 5px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
}

/* section container that holds all articles */
.display--news {
  position: absolute;
  top: 160px;
  width: 90%;
  height: 75%;
  padding: 15px;
  margin: 5px;
  /* design */
  overflow-y: auto;
  border-radius: 5px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-2);
  background-color: rgba(63,50,101, .4);
}

.news {
   /* layout */
   width: 99%;
   padding: 15px;
   margin: 5px;
   /* position children */
   display: flex;
   align-items: center;
   /* design */
   background-color: var(--theme-sub-primary);
   border: 3px solid var(--planet-purple-space);
   border-radius: 5px;
}

.new--news{
  height: auto;
  padding: 10px;
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  /* opacity: 0; */
  background-color: var(--theme-sub-primary);
  border: 3px solid var(--planet-purple-space);
  border-radius: 5px;
}

.new--news--button > button{
  position: absolute;
  top: 0;
  left: 0;
}

.new--news > input{
  width: 40%;
}

.friendsNews {
  font-style: italic;
  color: var(--planet-light-purple);
}

.news > a > img {
  padding-right: 2vw;
}

.news > button {
  right: 3vw;
  position: absolute;
}

.newsForum {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
}

.newsForum > input {
  margin: .25vw;
}