:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

.news {
  flex-basis: 90%;
  height: 150px;
  padding: 7.5px;
  margin-bottom: 5px;
  /* position children */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* design */
  border: 2px solid var(--planet-dark-green);
}

.news > a {
}

.news > h4 {
}

.news > h2 {
}

.news > h1 {
}

.news > p  {
}

.news > button {
  height: 50px;
}


.new--news{
  height: 150px;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.new--news > button{
  position: absolute;
  bottom: 5px;
  left: calc(50% - 52px);
}
.new--news > input{
  width: 40%;
}
