:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-form: 'Exo 2', 'Arial', sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
}

.news {
  flex-basis: 90%;
  height: 150px;
  padding: 7.5px;
  margin-bottom: 5px;
  width: 100%;
  display: inline-flex;
  border: 2px solid var(--planet-dark-green);
  background-color: rgb(254, 254, 255, .9);
}

.news > button {
  height: 50px;
  width: 50px;
  right: 1vw;
  position: absolute;
}


.new--news{
  height: 6.5vw;
  padding: 1vw;
  border-radius: 8px;
  position: absolute;
  display: inline-flex;
  background-color: var(--planet-purple-space);
  border: 2px solid var(--planet-dark-green);
  top: 0;
}
.new--news > h2 {
  position: relative;
  margin-left: 2vw;
  font-weight: bold;
  color: var(--planet-dark-green);
}

.new--news > button{
  position: relative;
  margin: 0px;
  width: 4vw;
  height: 4vw;
  background-color: var(--planet-dark-red);
}
.new--news > input{
  width: 40%;
}

.display--news{
  position: absolute;
  top: 7vw;
  width: 90%;
  left: 5%;
  background-color: rgba(63, 50, 101, .4);

}
.news-info {
  width: 72%;
  margin-left: 1%;
}
