:root {
  --theme-main-primary: #42a5f4;
  --theme-main-light: #80d6ff;
  --theme-main-dark: #0077c1;
  --theme-text-light: white;
  --theme-sub-primary: #f5f5f5;
  --theme-sub-primary2: #eee;
  --theme-sub-light: white;
  --theme-sub-dark: #c2c2c2;
  --font-family-title: 'Ubuntu', 'Arial', sans-serif;
  --font-family-exo: 'Exo 2', 'Arial', sans-serif;
  --font-family-text: Georgia, Times, 'Times New Roman', serif;
  --font-family-plain: Arial, Helvetica, sans-serif;
  --planet-yellow: #FBD281;
  --planet-dark-yellow: #FFB881;
  --planet-bright-green: #24FFDD;
  --planet-dark-green: #04DFD5;
  --planet-bright-red: #FF1C76;
  --planet-dark-red: #E30773;
  --planet-orange: #FE5671;
  --planet-dark-purple: #382B56;
  --planet-light-purple: #7B3E80;
  --planet-purple-space: #3F3363;
  --box-shadow-1: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title--incomplete, .title--complete {
  /* layout */
  width: 90%;
  padding: 7px 0;
  /* design */
  color: var(--theme-sub-primary);
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  background-color: var(--planet-orange);
  border-radius: 5px;
  font-size: 25px;
  font-family: var(--font-family-exo);
  box-shadow: var(--box-shadow-1);
}

#incomplete {
  flex-basis: 75%;
  height: 300px;
  border: 1px solid black;
  overflow-y: auto;
  /* padding to keep new task from hiding first section */
  padding-top: 75px;
  position: relative;
}

#complete {
  flex-basis: 75%;
  height: 300px;
  border: 1px solid black;
  overflow-y: auto;
}

#complete > .task > p {
  text-decoration: line-through;
}

.task {
  width: 100%;
  padding: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* task description */
.task > p:first-of-type {
  display: inline-block;
  width: 75%;
  margin-left: 5px;
}

/* task due date */
.task > p:last-of-type {
  display: inline-block;
  width: 15%;
  margin-left: 15px;
}

.new--task {
  height: 75px; /* fixed height for abs positioning */
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.new--task > input:first-of-type {
  width: 60%;
  margin-left: 5px;
}

.new--task > input:last-of-type {
  width: 30%;
  margin-left: 15px;
}

